# Porta onde o servidor Express irá rodar
PORT=3001

# Chave secreta para assinatura dos Tokens JWT (Mude em produção!)
JWT_SECRET=sua_chave_secreta_aqui

# Caminho para o banco de dados SQLite
DATABASE_URL=./database.sqlite
